* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  padding: 15px;
  width: 100vw;
  background-color: #D9D9D9;
  position: absolute;
  bottom:0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.emotes {
  width: 25px;
}

#addFeedback {
  width: 40px;
}
